@model SchedulerUserModel

@{
    ViewBag.Title = "SchedulerUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:@Model.ShowUser;">
    @using (Html.BeginForm("SchedulerUser", "Scheduler", FormMethod.Post))
    {
        <h2>Scheduler User</h2>
        <table>
            <tr>
                <td colspan="2" class="bt" style="color:red;">&nbsp;@Html.Raw(Model.UserMessage)</td>
            </tr>
            <tr>
                <td class="bt">First Name</td>
                <td class="gfill">@Html.TextBoxFor(m => m.FirstName, new { style = "width:200px;", maxlength = 20 })</td>
            </tr>
            <tr>
                <td class="bt">Last Name</td>
                <td class="gfill">@Html.TextBoxFor(m => m.LastName, new { style="width:200px;", maxlength=20 })</td>
            </tr>
            <tr>
                <td class="bt">User Login</td>
                <td class="gfill">@Html.TextBoxFor(m => m.UserLogin, new { style="width:500px;", maxlength=50 })</td>
            </tr>
            <tr style="display:@Model.ShowPassword;">
                <td class="bt">Password</td>
                <td class="gfill">@Html.TextBoxFor(m => m.UserPassword, new { style="width:500px;", maxlength=50 })</td>
            </tr>
            <tr>
                <td class="bt">Email Address</td>
                <td class="gfill">@Html.TextBoxFor(m => m.UserEmail, new { style="width:500px;", maxlength=50 })</td>
            </tr>
            <tr>
                <td class="bt">Is Active</td>
                <td class="gfill">@Html.CheckBoxFor(m => m.IsActive)</td>
            </tr>
            <tr>
                <td class="bt">Admin Access</td>
                <td class="gfill">@Html.CheckBoxFor(m => m.Admin)</td>
            </tr>
            <tr>
                <td class="bt">Operator Access</td>
                <td class="gfill">@Html.CheckBoxFor(m => m.Operator)</td>
            </tr>
            <tr>
                <td class="bt">View Access</td>
                <td class="gfill">@Html.CheckBoxFor(m => m.View)</td>
            </tr>
            <tr>
                <td class="bt">Report Access</td>
                <td class="gfill">@Html.CheckBoxFor(m => m.Report)</td>
            </tr>
            <tr>
                <td class="bt"></td>
                <td class="bt">
                    <button name="btnUserSave" class="button" type="submit">Save</button>&nbsp;
                    <button name="btnUserClear" class="button" type="submit">Clear</button>
                    @Html.HiddenFor(m => m.UserID)
                </td>
            </tr>
        </table>
        @Html.Raw(Model.UserList)
    }
</div>

